.centerDiv {
	margin-left: auto;
	margin-right: auto;
}

* > .centerDiv {
	text-align: center;
	display: block;
}



span.stars, span.stars span {
	display: block;
	background: url(../resources/stars.png) 0 -16px repeat-x;
	width: 80px;
	height: 16px;
}

span.stars span {
	background-position: 0 0;
}
